body{
  color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  /* height: 100vh; */
}

footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 8px;
  grid-gap: 20px
}

.radio-container{
  border:black;
  border-width: 2px;
  text-align:center;
  display:inline-grid;
  width:200px;
}

.song-card {
    width: 200px;
    height: 250px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    background-color: #BBBBBB;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.album-cover {
    width: 200px;
    height: 200px;
}

.song-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    font-size: 12px;
    color: #121212;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrolling-text {
    animation: scroll-text 10s linear infinite; /* Adjust the duration as needed */
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
