<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rádios Portuguesas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  </head>
  <body>
    <h1>ON AIR</h1>


    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
